/* footer */

@import "variables";

footer{
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 20px;
    background:map-get($colores , fuchsia100 );

    .social{
        width: 50px;
        height: auto;
    }

    .copyright{
        font-size: 12px;
    }
}